<!-- <form *ngIf="createForm" [formGroup]="createForm">
    <input formControlName="userId" placeholder="User ID" />
    <input formControlName="title" placeholder="Title" />
    <textarea formControlName="body" placeholder="Body"></textarea>
    <button (click)="onSave()">Save</button>
  </form> -->
  <div class="mt-5">
    <div class="row px-4">
      <div class="col-md-8 ">
        <h2><strong>Posts Lists</strong> › Edit Post</h2>
  
        <form *ngIf="createForm" [formGroup]="createForm">
     
          <mat-form-field appearance="outline" class="w-75">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" />
          </mat-form-field>
         
  

          <mat-form-field appearance="outline" class="w-75" >
            <mat-label>Body</mat-label>
            <textarea matInput formControlName="body" rows="5"></textarea>
          </mat-form-field>
  
  
        
          <mat-form-field appearance="outline" class="w-75">
            <mat-label>User ID</mat-label>
            <mat-select formControlName="userId">
               <mat-option *ngFor="let id of userIds" [value]="id">
                {{ id }}
              </mat-option>
     
            </mat-select>
          </mat-form-field>
   
     
        </form>
      </div>
    </div>

    <div class="mt-5 row w-25 px-4">
      <button
        type="button"
        class="btn btn-primary btn-lg"
        (click)="onSave()"
      >
        Save
      </button>
    </div>
  </div>