<div class="bg vh-100 vw-100">
    <div class="container">
        <div class="row ">
            <div class="col-12 d-flex justify-content-center align-items-center ">
                <div class="py-5 ">
                    <div class="bg-white p-5 rounded shadow text-center" style="width: 600px;height: 670px;">
                        <img src="../../assets/photo_5778675010263696894_x.jpg" alt="404" class="img-fluid mb-5" />
                        <h2 class="mb-5  text-dark fs-3 fw-bold">Looks like you’ve got lost….</h2>
                        <button class="btn btn-custom w-100 mt-3 bt fs-4" routerLink="/">Back to Dashboard</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</div>

