.bg{
    


    



    background-image: url('../../assets/photo_5778675010263696759_w.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

}
.bt{
    width: 420px;
    height: 60px;
}
.btn-custom{
    background-color:  #4880FF;
    color:  #FFFFFF;
    
}