<div class="top-navbar">
  <div class="search-container">
    <mat-icon>search</mat-icon>
    <input type="text" placeholder="Search" />
  </div>
  <div class="nav-icons">
    <button mat-icon-button><mat-icon>notifications</mat-icon></button>
    <img src="https://flagsapi.com/GB/shiny/32.png" class="flag" />
    <span class="lang">English</span>
    <div class="profile">
      <img src="https://i.pravatar.cc/40?img=3" class="avatar" />
      <span class="user-info">
        <div class="name">Moni Roy</div>
        <div class="role">Admin</div>
      </span>
    </div>
  </div>
</div>


<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="isOpened" class="sidenav">
    <h2 class="logo"><span class="highlight">XonTel</span> Dash</h2>
    <a mat-button routerLink="/dashboard" routerLinkActive="active" class="nav-button">Dashboard</a>
    <a mat-button routerLink="/posts" routerLinkActive="active" class="nav-button">Posts Lists</a>
    <div class="logout-section">
      <button (click)="signOut()" mat-button class="nav-button">Logout</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-icon-button (click)="toggleNav()">
      <mat-icon>menu</mat-icon>
    </button>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>